agno>=1.7.2
anthropic
openai
google-generativeai
google-genai
duckduckgo-search
fastapi
sqlalchemy
newspaper4k
lxml_html_clean
exa_py
googlesearch-python
pycountry
uvicorn
pypdf
lancedb
tantivy
lance
elevenlabs
python-dotenv
jsonschema
litellm